DATABASE_URL="mysql://root:123456@localhost:3306/projeto2025"
# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Prisma
prisma/migrations/
.prisma/

# Variáveis de ambiente
.env

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db
